.view {
    display: none;
    margin: 15px auto;
    padding: 0 3%;
    box-sizing: border-box;
    max-width: $che_max_inner_width;
    min-width: $che_min_inner_width;

    &__inner {
        margin: 0 3%;
    }

    &_visible {
        display: block;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__wrapper {
        margin: 0 0 1em;
    }

}

@media (min-width: $che_max_inner_width) {
    .view {
        padding: 0;
    }
}
