.footer {
    background: $che_accent;
    text-align: center;
    padding: 5px 0 10px;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        top: -79px;
        left: 0;
        height: 80px;
        background: transparent url(footer.gif) no-repeat 70% 0;
        retina-image(url(footer@2x.gif), auto, 80px);
        /* todo: redraw an image to appropriate size */
        //background-position: 80% 0;
    }

    &__full-version, &__full-version:visited {
        color: $che_text_color;
        font-size: 1.05em;
        text-decoration: none;
    }
    &__full-version svg {
        width: 18px;
        height: 18px;
    }
    &__icon {
        display: inline-block
        margin: 0 10px;
        position: relative;
        top: -2px;
    }

}
@media screen and (min-width: 650px ){
    .footer:before {
        height: 160px;
        top: -159px;
        background-image: url(footer@2x.gif);
        retina-image(url(footer@2x.gif), auto, 160px);
    }
}
