.main {
    display: block;
    background: #fff;
    color: $che_text_color;
    font: $che_font_size/$che_line_height $che_font_family;

    h1 {
        font-size: 1.5em;
        margin: 0 0 0.7em;
        font-weight: bold;
    }
    h2 {
        font-size: 1.3em;
        margin: 0 0 0.5em;
        font-weight: bold;
    }
    h3 {
        font-size: 1.1em;
        margin: 0 0 0.3em;
        font-weight: bold;
    }
    p {
        margin: 0 0 0.6em;
    }

    &_theme_blue {
         background: $che_primary;
         color: #fff;
         text-shadow: 0 -1px 0 #008090;
    }

    &__header_hidden {
        display: none;
    }

    input[type='text'] {
        border: 1px solid $che_primary;
        border-radius: $che_border_radius;
        width: 100%;
        padding: 0.3em 0.5em 0.35em;
        box-sizing: border-box;
        font-size: 1em;
        font-weight: bold;
        color: #2b2b2b;
    }
    input[type='text']:focus, input[type='text']:active {
        outline: none;
    }
}
