.wrapper-twin {
    max-width: $che_max_inner_width;
    margin: 10px auto;

    &__left {
        float: left;
    }

    &__right {
        float: right;
    }

    &__left, &__right {
        width: 48%;
        min-width: $date_wrap_width;
        display: inline-block;
    }
}
