/* ==========================================================================
$BASE-PICKER
========================================================================== */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
.picker {
    font-size: $che_font_size;
    font-family: $che_font_family;
    text-align: left;
    line-height: 1.2;
    color: #000;
    position: absolute;
    z-index: 10000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /**
    * The picker input element.
    */
    &__input {
        border-radius: $che_border_radius;
        border: 1px solid $che_primary;
        padding: 0.3em 0 0.35em;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        color: $che_primary;
    }
    /**
    * When the picker is opened, the input element is “activated”.
    */
    &__input.picker__input--active {
        border-color: $che_primary;
    }
    /**
    * Make the holder and frame fullscreen.
    */
    &__holder,
    &__frame {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    /**
     * The holder should overlay the entire screen.
     * The holder is the only “scrollable” top-level container element.
     */
    &__holder {
        position: fixed;
        transition: background 0.15s ease-out, -webkit-transform 0s 0.15s;
        transition: background 0.15s ease-out, transform 0s 0.15s;
        -webkit-backface-visibility: hidden;
        width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    /**
     * The frame that bounds the box contents of the picker.
     */
    &__frame {
        position: absolute;
        margin: 0 auto;
        min-width: 256px;
        max-width: 666px;
        width: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -moz-opacity: 0;
        opacity: 0;
        transition: all 0.15s ease-out;
    }
    /**
    * The wrapper sets the stage to vertically align the box contents.
    */
    &__wrap {
        display: table;
        width: 100%;
        height: 100%;
    }
    /**
    * The box contains all the picker contents.
    */
    &__box {
        background: #ffffff;
        display: table-cell;
        vertical-align: middle;
    }
}
/**
* When the picker opens...
*/
.picker--opened .picker__holder {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)";
    zoom: 1;
    background: rgba(0, 0, 0, 0.32);
    transition: background 0.15s ease-out;
}
.picker--opened .picker__frame {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    //filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

@media (min-height: 33.875em) {
    .picker__frame {
        overflow: visible;
        top: auto;
        bottom: -100%;
        max-height: 80%;
    }
}
@media (min-height: 40.125em) {
    .picker__frame {
        margin-bottom: 7.5%;
    }
}
@media (min-height: 33.875em) {
    .picker__wrap {
        display: block;
    }
}
@media (min-height: 26.5em) {
    .picker__box {
        font-size: 1.25em;
    }
}
@media (min-height: 33.875em) {
    .picker__box {
        display: block;
        font-size: 1.33em;
        border: 1px solid #eeeeee;
        border-top-color: #898989;
        border-bottom-width: 0;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
    }
}
@media (min-height: 40.125em) {
    .picker__box {
        font-size: 1.5em;
        border-bottom-width: 1px;
        border-radius: 5px;
    }
}
@media (min-height: 33.875em) {
    .picker--opened .picker__frame {
        top: auto;
        bottom: 0;
    }
}

/* ==========================================================================
$BASE-DATE-PICKER
========================================================================== */
/**
 * The picker box.
 */
.picker__box {
    padding: 0 1em;
}
/**
 * The header containing the month and year stuff.
 */
.picker__header {
    text-align: center;
    position: relative;
    margin-top: .75em;
}
/**
 * The month and year labels.
 */
.picker__month,
.picker__year {
    font-weight: 500;
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em;
}
.picker__year {
    color: #999999;
    font-size: .8em;
    font-style: italic;
}
/**
 * The month and year selectors.
 */
.picker__select--month,
.picker__select--year {
    border: 1px solid #b7b7b7;
    height: 2em;
    padding: .5em;
    margin-left: .25em;
    margin-right: .25em;
}
@media (min-width: 24.5em) {
    .picker__select--month,
    .picker__select--year {
        margin-top: -0.5em;
    }
}
.picker__select--month {
    width: 35%;
}
.picker__select--year {
    width: 22.5%;
}
.picker__select--month:focus,
.picker__select--year:focus {
    border-color: $che_primary;
}
/**
 * The month navigation buttons.
 */
.picker__nav--prev,
.picker__nav--next {
    position: absolute;
    padding: .3em 1.25em;
    width: 1em;
    height: 1em;
    box-sizing: content-box;
    top: -0.25em;
    border-radius: $che_border_radius;
}
@media (min-width: 24.5em) {
    .picker__nav--prev,
    .picker__nav--next {
        top: -0.33em;
    }
}
.picker__nav--prev {
    left: -1em;
    padding-right: 1.25em;
}
@media (min-width: 24.5em) {
    .picker__nav--prev {
        padding-right: 1.5em;
    }
}
.picker__nav--next {
    right: -1em;
    padding-left: 1.25em;
}
@media (min-width: 24.5em) {
    .picker__nav--next {
        padding-left: 1.5em;
    }
}
.picker__nav--prev:before,
.picker__nav--next:before {
    content: " ";
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-right: 0.75em solid $che_primary;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
}
.picker__nav--next:before {
    border-right: 0;
    border-left: 0.75em solid $che_primary;
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
    cursor: pointer;
    color: #000000;
    background: $che_accent;
}
.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
    cursor: default;
    background: none;
    border-right-color: #f5f5f5;
    border-left-color: #f5f5f5;
}
/**
 * The calendar table of dates
 */
.picker__table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    width: 100%;
    margin-top: .75em;
    margin-bottom: .5em;
}
@media (min-height: 33.875em) {
    .picker__table {
        margin-bottom: .75em;
    }
}
.picker__table td {
    margin: 0;
    padding: 0;
    text-align: center;
}
/**
 * The weekday labels
 */
.picker__weekday {
    width: 14.285714286%;
    font-size: .75em;
    padding-bottom: .25em;
    color: #999999;
    font-weight: 500;
    /* Increase the spacing a tad */
}
@media (min-height: 33.875em) {
    .picker__weekday {
        padding-bottom: .5em;
    }
}
/**
 * The days on the calendar
 */
.picker__day {
    position: relative;
    width: 1.6em;
    height: 1.6em;
    display: inline-block;
    margin: 0.1em;
    line-height: 1.6em;
    font-weight: 200;
    border-radius: 50%;
    border: 2px solid transparent;
}
.picker__day--today:before {
    content: " ";
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border: 0.2em solid $che_primary
    border-radius: 50%;
}
.picker__day--disabled:before {
    border-color: #aaaaaa;
}
.picker__day--outfocus {
    color: #dddddd;
}
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
    cursor: pointer;
    color: #000000;
    //background: $che_accent;
    border-color: $che_accent;
}
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
    cursor: pointer;
    color: #000000;
    background: $che_accent;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    background: $che_accent;
    color: #000;
}
.picker__day--selected:after,
.picker__day--selected:hover:after,
.picker--focused .picker__day--selected:after {
    background: $che_primary;
}
.picker__day--disabled,
.picker__day--disabled:hover,
.picker--focused .picker__day--disabled {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #dddddd;
    cursor: default;
}
.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
    background: #bbbbbb;
}
/**
 * The footer containing the "today", "clear", and "close" buttons.
 */
.picker__footer {
    text-align: center;
}
.picker__button--today,
.picker__button--clear,
.picker__button--close {
    border: 1px solid $che_primary;
    border-radius: $che_border_radius;
    background: #ffffff;
    font-size: .8em;
    padding: .3em 0;
    font-weight: bold;
    width: 40%;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0.5em;
    font-family: $che_font_family;
}
.picker__button--today {
    margin-right: 5%;
}
.picker__button--today:hover,
.picker__button--clear:hover,
.picker__button--close:hover {
    cursor: pointer;
    color: #000000;
    background: $che_accent;
}
.picker__button--today:focus,
.picker__button--clear:focus,
.picker__button--close:focus {
    background: $che_accent;
    border-color: $che_primary;
    outline: none;
}
.picker__button--today:before,
.picker__button--clear:before,
.picker__button--close:before {
    position: relative;
    display: inline-block;
    height: 0;
}
.picker__button--today:before,
.picker__button--clear:before {
    content: " ";
    margin-right: .45em;
}
.picker__button--today:before {
    top: -0.05em;
    width: 0;
    height: 0;
    border: 0.28em solid $che_primary;
    background: $che_primary;
    border-radius: 50%;
}
.picker__button--clear:before {
    top: -0.25em;
    width: .66em;
    border-top: 3px solid #ee2200;
}
.picker__button--close:before {
    content: "\D7";
    top: -0.1em;
    vertical-align: top;
    font-size: 1.1em;
    margin-right: .35em;
    color: #777777;
}
.picker__button--today[disabled],
.picker__button--today[disabled]:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #dddddd;
    cursor: default;
}
.picker__button--today[disabled]:before {
    border-color: #aaaaaa;
}

/* ==========================================================================
   $DEFAULT-DATE-PICKER
   ========================================================================== */
