.countries-selected {
    &__country {
        display: inline-block;
        margin: 0.25em 0.25em 0.25em 0;
        border: black 1px;
        padding: 0.3em;
        background-color: $che_primary;
        color: #fff;
        border-radius: 5px;
        font: $che_font_size/$che_line_height $che_font_family;
        position: relative;
    }
    &__disable {
        position: absolute;
        top: 0.1em;
        right: 0.2em;
        padding: 0 0.2em 0 0.3em;
        font-size: 1.4em;
        line-height: 100%;
        cursor: pointer;
        &:after {
            content: '\d7';
        }
    }

    &__name {
        display: inline-block;
        padding-right: 1.5em;
    }
}
