.switch {
    display: block;
    height: auto;
    width: auto;
    margin: 15px 0 10px 2px;
    text-align: left;
    cursor: pointer;

    &__checkbox {
      position: absolute;
      height: 22px;
      width: 60px;
      z-index: 2;
      opacity: 0;
    }

    &__handle {
      display: block;
      box-sizing: border-box;
      height: 31px;
      width: 51px;
      float: right;
      margin: 0 0 0 20px;
      position: relative;
      overflow: hidden;
      top: -7px;
      border-radius: 15px;
      text-transform: uppercase;
      transition: padding 0.2s ease-out 0s;
      background: #CECECE;
    }

    &__checkbox:checked + &__handle {
      padding-left: 21px;
      background: $che_primary;
    }

    &__handle:before {
      display: block;
      height: 28px;
      width: 28px;
      position: relative;
      top: 1px;
      left: 1px;
      content: '';
      background: #fff;
      border-radius: 14px;
      -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), -1px 5px 2px 2px rgba(0, 0, 1, 0.05);
      -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), -1px 5px 2px 2px rgba(0, 0, 1, 0.05);
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05), -1px 5px 2px 2px rgba(0, 0, 1, 0.05);
    }

}
