.accordion-item {
    padding: 0 0 10px;

    &__title {
        font: $che_font_size/$che_line_height $che_font_family;
        color: $che_accent;
        cursor: pointer;
    }

    &__content {
        display: none;
    }

    &_active &__content {
        display: block;
    }
}
