.main-menu {
    &_visible {
        // контент страницы при раскрытом меню
        position: fixed;
        left: 240px;
        right: -240px;

        .main-menu__content {
            display: block;
        }
    }

    &_visible:after {
        content: "";
        display: block;
        position: fixed; /* could also be absolute */
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
        background-color: rgba(0,0,0,0.3);
    }

    &__icon {
        cursor: pointer;
    }

    &__content {
        font: $che_font_size/$che_line_height $che_font_family;
        display: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               overflow: auto;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 999;
        width: 240px;
        padding: 50px 0 0;
        background: $che_primary;
        /* enables momentum scrolling in iOS overflow elements */
        -webkit-overflow-scrolling: touch;

    }

    &__list {
        padding: 0;
    }

    &__item {
        display: block;
        margin: 1.3em 1em;
        padding: 0.6em;
        border: 2px solid #fff;
        border-radius: 7px;
        box-shadow inset 0 0 10px #008090;
    }
    &__link {
        color: #fff;
        text-shadow: 0 -1px 0 #008090;
        text-decoration: none;
        display: block;
        text-align: center;
    }
}


