.view-button {
    background: #fff;
    border-radius: $che_border_radius;
    border: 1px solid $che_primary;
    margin: 10px 0;
    text-align: center;
    color: $che_primary;

    &__text {
        text-decoration: none;
        color: $che_primary;
        font-size: 1.1em;
        font-family: $che_font_family;
        font-weight: bold;
        display: block;
        padding: 0.3em 0 0.35em;
    }

}
