.input-date {
    max-width: $che_max_inner_width;
    margin: 10px auto;

    &__wrap {
        min-width: $date_wrap_width;
    }

    &__label {
        font-family: $che_font_family;
        font-size: $che_font_size;
        text-align: center;
        margin-bottom: 0.1em
    }

    &__picker {
        font-family: $che_font_family;
        font-size: $che_font_size;
        padding: 6px;
        width: 100%;
        bs-border-box();
    }

}
