.countries-select {
    margin-top: 1em;

    .input__control {
        display: block;
        font-size: 1.1em;
        font-family: $che_font_family;
        font-weight: bold;
    }

    &__countries-wrapper {
        padding: 0.5em 0;
        background: white;
    }

    &__country {
        cursor: pointer;
        color: #000;
        font: $che_font_size/$che_line_height $che_font_family;
        padding: 0.3em 0.5em;

        &_group {
            font-weight: bolder;
        }
        &_selected {
            display: none;
        }
        &_filtered {
            display: none;
        }
    }

    &__country:hover {
        background: $che_primary;
        color: #fff;
    }
}
